beautifulsoup4==4.13.3
branca==0.7.2
chinese_calendar==1.10.0
chinesecalendar==1.10.0
folium==0.17.0
geodatasets==2024.8.0
geopandas==1.0.1
jsonpath==0.82.2
matplotlib==3.10.1
networkx==3.2.1
numpy==2.2.4
openmeteo_requests==1.4.0
pandas==2.2.3
Requests==2.32.3
requests_cache==1.2.1
retry_requests==2.0.0
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Shapely==2.1.0
tqdm==4.66.4
